/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* navbar */

.master-div-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.navbar-logo {
  padding: 20px;
}
.navbar-right-section {
  display: flex;
  align-items: center;
}
.navbar-right-section > * {
  border-right: 1px solid rgba(0, 0, 0, 0.08);
}
.navbar-right-section div:nth-of-type(4) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
}
.navbar-right-section div:nth-of-type(4) p {
  margin-left: 10px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.015em;
}
.login-signup {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #000;
  font-weight: bolder;
  border-bottom: none;
}

/* loaction dropdown */
.down {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 22px;
  width: 115px;
  height: 42px;
  cursor: pointer;
}
.down:hover {
  background-color: rgba(0, 0, 0, 0.08);
}
.down p {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.015em;
}
.down img {
  margin-left: 8px;
  margin-right: 5px;
}
.locations {
  display: flex;
  align-items: center;
  background: #f2f2f2;
  padding: 0 60px;
}
.locations div:nth-of-type(12) {
  display: flex;
}
.locations div:nth-of-type(12) p {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.005em;
  color: #ee2e24;
}
.locations div:nth-of-type(12) img {
  object-fit: contain;
  margin-left: 5px;
}
.dropdown {
  position: absolute;
  top: 118px;
  padding: 10px 35px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.08);
  z-index: 5;
  background-color: #ffffff;
}
.dropdown p {
  margin: 15px;
  cursor: pointer;
}
.dropdown p:nth-of-type(1) {
  font-weight: bold;
}
.dropdown p:hover {
  color: red;
  transform: translateX(5%);
  transition: all 0.3s;
}

/* search field div */

.red-rectangle {
  position: relative;
}
.red-rectangle img {
  width: 100%;
}
.search-field {
  position: absolute;
  display: flex;
  top: 30%;
  left: 11%;
  justify-content: center;
  align-items: center;
}
.search-field input {
  width: 500px;
  height: 60px;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  padding-left: 15px;
  border: none;
  margin-right: -2.5px;
  background: #ffffff;
  border-radius: 4px 0px 0px 4px;
}
.search-field input:focus {
  outline: none;
}
.react-google-flight-datepicker .dialog-date-picker {
  width: 700px !important;
  z-index: 0;
}
.react-google-flight-datepicker .date-picker {
  padding: 2px !important;
}

.rooms {
  height: 60px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  margin-left: -5px;
}
.rooms + button {
  width: 171px;
  height: 60px;
  background: #1ab64f;
  box-shadow: 0px 4px 4px rgba(96, 182, 126, 0.12);
  border-radius: 4px;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.015em;
  color: #ffffff;
  border: none;
  margin-left: -1px;
}
/* banner */
.banner {
  padding: 35px;
}
.banner img {
  width: 100%;
}
/* world wide market */

.world-wide {
  background: #f4fcfe;
  width: 100%;
  display: flex;
}
.uae {
  position: absolute;
  width: 108px;
  height: 126px;
  left: 120px;
  top: 800px;
  cursor: pointer;
}
.nepal {
  position: absolute;
  width: 108px;
  height: 126px;
  left: 280px;
  top: 740px;
  cursor: pointer;
}
.china {
  position: absolute;
  width: 108px;
  height: 126px;
  left: 440px;
  top: 715px;
  cursor: pointer;
}
.india {
  position: absolute;
  width: 108px;
  height: 126px;
  left: 280px;
  top: 880px;
  cursor: pointer;
}
.malayasia {
  position: absolute;
  width: 150px;
  height: 100px;
  left: 400px;
  top: 850px;
  cursor: pointer;
}
.indonesia {
  position: absolute;
  width: 106px;
  height: 136px;
  left: 380px;
  top: 950px;
  cursor: pointer;
}
.world-wide-right-section {
  padding: 50px 120px;
  text-align: left;
}
.world-wide-right-section > p:nth-of-type(1) {
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.005em;
  margin-bottom: 40px;
}
.world-wide-right-section > p:nth-of-type(2) {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 40px;
}
.world-wide-right-section div {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-style: normal;
}
.world-wide-right-section div span {
  font-size: 40px;
}
.world-wide-right-section ul {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
.world-wide-right-section ul li {
  margin: 10px;
  font-size: 25px;
}
/* footer */

.footer {
  background: #6d787d;
  padding: 50px 80px;
  color: #fff;
}
.footer-sec1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.5);
}
.footer-sec1 div:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
.footer-sec1 div:nth-of-type(1) {
  border: none;
  padding-bottom: 30px;
  display: flex;
}
.footer-sec1 div:nth-of-type(2) p,
.footer-sec1 div:nth-of-type(1) p {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  /* identical to box height */

  /* Neutral white */

  color: #f4fcfe;
}
.footer-sec1 div:nth-of-type(2) button {
  width: 173px;
  height: 48px;
  background: #ffffff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.footer-sec1 div:nth-of-type(2) button img {
  margin-right: 5px;
}
.footer-sec1 div:nth-of-type(1) > *,
.footer-sec1 div:nth-of-type(2) > * {
  margin-right: 15px;
}
.footer-sec2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 80px;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.5);
}
.footer-sec2 div:nth-of-type(1) {
  border: none;
  display: grid;
  grid-template-columns: 40% 60%;
}
.footer-sec2 div:nth-of-type(1) p {
  width: 180%;
  margin-bottom: 10px;
}

.footer-sec2 div:nth-of-type(2) {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 40%;
  border-right: 1px solid hsla(0, 0%, 100%, 0.5);
  padding-left: 45px;
  border-left: 1px solid hsla(0, 0%, 100%, 0.5);
}
.footer-sec2 div:nth-of-type(2) p {
  margin: 10px;
}
.footer-sec2 div:nth-of-type(2) p:hover {
  text-decoration: underline;
}
.footer-sec2 div:nth-of-type(3) p {
  margin: 20px;
}
.footer-sec2 div:nth-of-type(3) p:hover {
  text-decoration: underline;
}
.footer-sec3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 35px;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.5);
}
.footer-sec3 p {
  margin-top: 15px;
}
.footer-sec4-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-sec4 {
  padding: 35px;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.5);
}
.footer-sec4 p {
  margin: 15px;
}
.footer-sec4 p:hover {
  text-decoration: underline;
}
.footer-sec5 {
  padding: 35px 35px 0px 35px;
}
.footer-sec5 img {
  margin-right: 25px;
  cursor: pointer;
}
